.App {
  background-color: rgb(236, 235, 235);
}

.position {
  font-weight: bolder;
  font-size: 30px;
  margin-right: 16px;
}

.status {
  color: rgb(167, 166, 166);
  /* font-family: bolder; */
  font-size: 18px;
}

.companyLogo {
  height: 105px;
  width: 120px;
  /* margin-left: -20%; */
  margin-right: 40px;
}

.company {
  margin-right: 40px;
  color: rgb(167, 166, 166);
  font-size: 18px;
}

.location {
  margin-right: 40px;
  color: rgb(167, 166, 166);
  font-size: 18px;
}

.workExperience {
  color: rgb(167, 166, 166);
  font-size: 18px;
}

.salaryRange {
  font-size: 18px;
  color: dodgerblue;
  font-weight: 700;
}

.skills {
}

/* .skill1 {
  color: dodgerblue;
  font-size: 18px;
  padding: 10px 5px 10px 5px;
  background-color: wheat;
  outline: 1px solid black;
} */

.skill2 {
  margin-right: 46px;
  color: dodgerblue;
  font-size: 18px;
  padding: 4px 5px 4px 5px;
  background-color: white;
  outline: 1px solid dodgerblue;
  border-radius: 2px 2px 2px 2px;
}

.skill3 {
  margin-right: 46px;
  color: dodgerblue;
  font-size: 18px;
  padding: 4px 5px 4px 5px;
  background-color: white;
  outline: 1px solid dodgerblue;
  border-radius: 2px 2px 2px 2px;
}

.skill4 {
  margin-right: 46px;
  color: dodgerblue;
  font-size: 18px;
  padding: 4px 5px 4px 5px;
  background-color: white;
  outline: 1px solid dodgerblue;
  border-radius: 2px 2px 2px 2px;
}

.skill5 {
  margin-right: 46px;
  color: dodgerblue;
  font-size: 18px;
  padding: 4px 5px 4px 5px;
  background-color: white;
  outline: 1px solid dodgerblue;
  border-radius: 2px 2px 2px 2px;
}

.cardBackground {
  background-color: white;
  padding: 25px 0px 25px 15px;
  border-radius: 7px 7px 7px 7px;
  display: flex;
  flex-direction: row;
  margin-left: -15%;
}
